<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" %>
<%= javascript_include_tag "main" %>

<br></br>

<div class="logo">
<%= image_tag('logo2.png', :class => "logo")%>
</div>

<div >
	<h5 class="welcome">Welcome to your one-stop travel itinerary planner</h5>
	<h6 class="welcome">Please log in or sign up to continue</h6>
</div>

<div class ="login">
<div>
	<div class="tab">
	  <button class="tablinks" onclick="openCity(event, 'Login')" id="defaultOpen">Login</button>
	  <button class="tablinks" onclick="openCity(event, 'SignUp')">Sign Up</button>
	</div>

	<!-- Tab content -->
	<div id="Login" class="tabcontent">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field">
		    <%= f.label :email%><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email" , :id => "x"%>
		  </div>

		  <div class="field">
		    <%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "current-password" , :id => "y"%>
		  </div>

		  <div class="actions">
		    <%= f.submit "Log in" , :class => "waves-effect waves-light btn-small blue lighten-2" %>
		  </div>
		<% end %>
		<p>You can use email: guest@email.com and password: Password for log in.</p>
	</div>

	<div id="SignUp" class="tabcontent">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email" , :id => "u"%>
		  </div>

		  <div class="field">
		    <%= f.label :password %>
		    <% if @minimum_password_length %>
		    <em>(<%= @minimum_password_length %> characters minimum)</em>
		    <% end %><br />
		    <%= f.password_field :password, autocomplete: "new-password" , :id => "v"%>
		  </div>

		  <div class="field">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "new-password", :id => "w" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Sign up", :class => "waves-effect waves-light btn-small blue lighten-2" %>
		  </div>

		  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
		<% end %>
	</div>

</div>
</div>